<p>train works!</p>
<!-- <div *ngIf="response"> 
{{response | json}}
</div> -->
<div *ngIf="dataSource">
    <table cdk-table [dataSource]="dataSource">
        <ng-container cdkColumnDef="id">
            <th cdk-header-cell *cdkHeaderCellDef> id </th>
            <td cdk-cell *cdkCellDef="let element">
                <!-- <div *ngIf="!element.editable else editMode">  -->
                    {{element.id}}
    <!-- </div>  -->
                <ng-template #editMode>
                    <input type="text" [(ngModel)]="element.id" />
                </ng-template>
            </td>
        </ng-container>

        <ng-container cdkColumnDef="title">
            <th cdk-header-cell *cdkHeaderCellDef> title </th>
            <td cdk-cell *cdkCellDef="let element">
                <div *ngIf="!element.editable else editTitle">
                    {{element.title}}
                </div>

                <ng-template #editTitle>
                    <input type="text" [(ngModel)]="element.title" />
                </ng-template>
            </td>

            <ng-template #editMode>
                <mat-form-field>
                    <input matInput />
                </mat-form-field>
            </ng-template>

        </ng-container>

        <ng-container cdkColumnDef="edit">
            <th cdk-header-cell *cdkHeaderCellDef> עריכה </th>
            <ng-container cdk-cell *cdkCellDef="let row; let index = index">
                <div *ngIf="!row.editable" class="edit-icon">
                    <button (click)="edit(row)" class="edit-icon" mat-icon-button aria-label="edit-icon"
                        matTooltip="עריכה"><mat-icon class="edit-icon">edit</mat-icon>
                    </button>
                </div>
                <div *ngIf="row.editable">
                    <button mat-icon-button aria-label="save" (click)="saveRow(row)" matTooltip="שמירה">
                        <mat-icon class="edit-icon">save</mat-icon>
                    </button>
                </div>
            </ng-container>
        </ng-container>



        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>